* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}



.pergunta { display: none; } /* Oculta as perguntas por padrão */


.grupo {
    display: none; 
}
.ativo {
    display: block; 
}


.d-flex{
    display: flex;
}

.centraliza{
    align-items: center;
    justify-content: center;
}

.alinha{
    text-align: center;
}

.fundo{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom center;
    width: 100%;
    height: 800px;
    position: relative;
    background-attachment: fixed;
}

.cabecalho{
    background-color: rgba(0, 0, 0, 0.552);
    height: 70px;
}

h1{
    font-size: 40px;
    color: white;
    margin-left: 140px;
}

.aviso{
    margin-left: 180px;

    background-color: #434343;
    box-shadow: #000000 20px 20px 50px;
    border-radius:30px;

    height: 350px;
    width: 78%;
}

.aviso p{
    color: white;
}

.avisao{
    font-size: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.textin{
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.junta_tudo{
    display: flex;
}

.quadro{
    display: flex;
    justify-content: space-between;
    text-align: justify;

    margin-top: 20px;
    margin-left: 180px;
    
    background-color: white;
    height: 590px;
    width: 42%;
    box-shadow: #000000 20px 20px 50px;
    border-radius:30px 0px 0px 30px;
}

.quadro_colorido{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    
    margin-top: 20px;
    height: 590px;
    width: 36%;
    box-shadow: #000000 20px 20px 50px;
    border-radius:0px 30px 30px 0px;
}

.resposta{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.pergunta{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;

    font-size: 20px;
}

.fixo{
    display: flex;
    justify-content: space-evenly;
}

.botaoNu{
    margin-left: 1%;
    margin-top: 2%;
    width: 40px;
    height: 40px;
    margin-right: 1%;

    border-radius: 50%;
    border: #434343 1.5px solid;
    background-color: white;
}

.botaoEs{
    margin-left: 17%;
    margin-top: 2%;
    width: 50px;
    height: 35px;
    margin-right: -0.5%;

    border-radius: 15px 0px 0px 15px;
    border: #434343 1.5px solid;
    background-color: white;
}

.botaoMe{
    width: 50px;
    height: 35px;
    margin-left: -0.5%;
    margin-right: -0.5%;
    border: 0px;
    border: #434343 1.5px solid;
    background-color: white;
}

.botaoDi{
    width: 50px;
    height: 35px;
    margin-left: -0.5%;

    border-radius: 0px 15px 15px 0px;
    border: 0px;
    border: #434343 1.5px solid;
    background-color: white;
}

 /* button.selecionado {
    filter: brightness(80%);
} */

button.selecionado1 {
    background-color: #5e17eb;
    color: white;
}   

button.selecionado2 {
    background-color: #8c52ff;
    color: white;
} 

button.selecionado3 {
    background-color: #cb6ce6;
    color: white;
} 

button.selecionado4 {
    background-color: #ff66c4;
    color: white;
} 

button.selecionado5 {
    background-color: #ff914d;
    color: white;
    
} 

button.selecionado6 {
    background-color: #ffde59;
    color: white;
} 




.botaoE{
    margin-left: 60px;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(90, 201, 63);
    color: white;
    margin-top: 60px;
}

.botaoP{
    margin-left: 60px;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(36, 156, 255);
    color: white;
    margin-top: 60px;
}

.botaoV{
    margin-left: 60px;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(238, 77, 77);
    color: white;
    margin-top: 60px;
}

.opcoes{
    background-color: rgba(0, 0, 0, 0.552);
    margin-top: 30px;
}

.opcoes p{
    color:white;
    font-size: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.nomes{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.listinha{
    margin-left: 90px;
    margin-right: 90px;
}

.listinha p{
    color: white;
    font-size: 15px;
}

.espaco{
    height: 30px;
}

.espaco2{
    height: 200px;
}



/* cores */

.fundo_cinza{
    background-color: rgb(85, 85, 85);
}

.fundao_colorido{
    background-image: url(../img/fundo_quiz.png);
}

.fundo_zeus{
    background-color: #5271ff;
}

.fundao_zeus{
    background-image: url(../img/fundo_zeus.png);
}

.fundo_poseidon{
    background-color: #004aad;
}

.fundao_poseidon{
    background-image: url(../img/fundo_poseidon.png);
}

.fundo_hades{
    background-color: #022655;
}

.fundao_hades{
    background-image: url(../img/fundo_hades.png);
}

.fundo_apolo{
    background-color: #ffde59;
}

.fundao_apolo{
    background-image: url(../img/fundo_apolo.png);
}

.fundo_hermes{
    background-color: #5ce1e6;
}

.fundao_hermes{
    background-image: url(../img/fundo_hermes.png);
}

.fundo_ares{
    background-color: #eb3636;
}

.fundao_ares{
    background-image: url(../img/fundo_ares.png);
}

.fundo_afrodite{
    background-color: #ff66c4;
}

.fundao_afrodite{
    background-image: url(../img/fundo_afrodite.png);
}

.fundo_dionisio{
    background-color: #cb6ce6;
}

.fundao_dionisio{
    background-image: url(../img/fundo_dionisio.png);
}

.fundo_hefesto{
    background-color: #ff914d;
}

.fundao_hefesto{
    background-image: url(../img/fundo_hefesto.png);
}

.fundo_atena{
    background-color: #0cc0df;
}

.fundao_atena{
    background-image: url(../img/fundo_atena.png);
}

.fundo_iris{
    background-color: #ff66c4;
}

.fundao_iris{
    background-image: url(../img/fundo_iris.png);
}

.fundo_hipinos{
    background-color: #004aad;
}

.fundao_hipinos{
    background-image: url(../img/fundo_hipinos.png);
}

.fundo_nemesis{
    background-color: #eb3636;
}

.fundao_nemesis{
    background-image: url(../img/fundo_nemesis.png);
}

.fundo_hebe{
    background-color: #ffbd59;
}

.fundao_hebe{
    background-image: url(../img/fundo_hebe.png);
}

.fundo_tique{
    background-color: #00bf63;
}

.fundao_tique{
    background-image: url(../img/fundo_tique.png);
}

.fundo_hecate{
    background-color: #cb6ce6;
}

.fundao_hecate{
    background-image: url(../img/fundo_hecate.png);
}

.fundo_eolo{
    background-color: #5ce1e6;
}

.fundao_eolo{
    background-image: url(../img/fundo_eolo.png);
}

.fundo_eros{
    background-color: #ff66c4;
}

.fundao_eros{
    background-image: url(../img/fundo_eros.png);
}



@media (max-width: 1030px){
    
    .cabecalho{
        height: 60px;
    } 
    
    h1{
        font-size: 30px;
        margin-left: 15px;
    }
    
    .aviso{
        margin-left: 6%;
        border-radius:15px;
        
        height: 360px;
        width: 88%;
    }
    
    .avisao{
        font-size: 25px;

        margin-left: 25px;
        margin-bottom: 5px;
    }
    
    .textin{
        font-size: 16px;

        margin-left: 25px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    
    .junta_tudo{
        display: flex;
    }
    
    .quadro{
        margin-top: 20px;
        margin-left: 6%;
        
        height: 500px;
        width: 50%;
        border-radius:15px 0px 0px 15px;
    }
    
    .quadro_colorido{
        display: flex;
        text-align: justify;

        margin-top: 20px;
        margin-left: 0px;

        height: 500px;
        width: 38%;
        border-radius:0px 15px 15px 0px;
    }
    
    .resposta{
        font-size: 30px;
        text-align: center;

        margin-left: 15px;
        margin-right: 15px;
    }
    
    .pergunta{
        margin-top: 15px;

        margin-left: 13px;
        margin-right: 10px;
    
        font-size: 17px;
    }

    .botaoNu{
        margin-left: 1%;
        margin-top: 2%;
        width: 17px;
        height: 17px;
        margin-right: 1%;
        font-size: 11px;
    
        border-radius: 50%;
        border: #434343 1.5px solid;
        background-color: white;
    }
    
    .botaoE{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoP{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoV{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .opcoes p{
        font-size: 20px;
    
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .listinha{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .listinha p{
        font-size: 17px;
    }
    
    .espaco{
        height: 30px;
    }
    
    .espaco2{
        height: 120px;
    }

}


@media (max-width: 550px){
    
    .cabecalho{
        height: 50px;
    }
    
    h1{
        font-size: 20px;
        color: white;
        margin-left: 10px;
    }
    
    .aviso{
        margin-left: 6%;
        border-radius:15px;
        
        height: 420px;
        width: 85%;
    }
    
    .avisao{
        font-size: 18px;

        margin-left: 15px;
        margin-bottom: 5px;
    }
    
    .textin{
        font-size: 13px;

        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    
    .junta_tudo{
        display: block;
    }
    
    .quadro{
        margin-top: 20px;
        margin-left: 6%;
        
        height: 430px;
        width: 85%;
        border-radius:15px 15px 0px 0px;
    }
    
    .quadro_colorido{
        display: block;
        text-align: justify;

        margin-top: -2px;
        margin-left: 6%;
        height: 100px;
        width: 85%;
        border-radius:0px 0px 15px 15px;
    }
    
    .resposta{
        color: white;
        font-size: 30px;
        text-align: center;

        margin-left: 15px;
        margin-right: 15px;
    }
    
    .pergunta{
        margin-top: 15px;
        margin-left: 7px;
        margin-right: 10px;
    
        font-size: 13px;
    }

    .botaoEs{
        margin-left: 12%;
        margin-top: 2%;
        width: 15%;
        height: 10%;
        margin-right: -1%;
        font-size: 10px;
    
        border-radius: 15px 0px 0px 15px;
        border: #434343 1.5px solid;
        background-color: white;
    }
    
    .botaoMe{
        width: 15%;
        height: 10%;
        margin-left: -2%;
        margin-right: -2%;
        border: 0px;
        border: #434343 1.5px solid;
        background-color: white;
        font-size: 10px;
    }
    
    .botaoDi{
        width: 15%;
        height: 10%;
        margin-left: -1%;
    
        border-radius: 0px 15px 15px 0px;
        border: 0px;
        border: #434343 1.5px solid;
        background-color: white;
        font-size: 10px;
    }

    .botaoE{
        margin-left: 0px;
        margin-top: 20px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoP{
        margin-left: 0px;
        margin-top: 20px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoV{
        margin-left: 0px;
        margin-top: 20px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .opcoes p{
        color:white;
        font-size: 15px;
    
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nomes{
        display: block;
        align-items: center;
        justify-content: center;
        
    }
    
    .listinha{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .listinha p{
        font-size: 10px;
    }
    
    .espaco{
        height: 30px;
    }
    
    .espaco2{
        height: 120px;
    }

}

