* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.grupo {
    display: none; 
}
.ativo {
    display: block; 
}


.d-flex{
    display: flex;
}

.centraliza{
    align-items: center;
    justify-content: center;
}

.alinha{
    text-align: center;
}

.fundo{
    background-image: url(../img/fundo_quiz.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom center;
    width: 100%;
    height: 800px;
    position: relative;
    background-attachment: fixed;
}

.cabecalho{
    background-color: rgba(0, 0, 0, 0.552);
    height: 70px;
}

h1{
    font-size: 40px;
    color: white;
    margin-left: 140px;
}

.aviso{
    margin-left: 180px;

    background-color: #434343;
    box-shadow: #000000 20px 20px 50px;
    border-radius:30px;

    height: 350px;
    width: 78%;
}

.aviso p{
    color: white;
}

.avisao{
    font-size: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.textin{
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.junta_tudo{
    display: flex;
}

.quadro{
    display: flex;
    justify-content: space-between;
    text-align: justify;

    margin-top: 20px;
    margin-left: 180px;
    
    background-color: white;
    height: 590px;
    width: 42%;
    box-shadow: #000000 20px 20px 50px;
    border-radius:30px 0px 0px 30px;
}

.quadro_colorido{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    
    margin-top: 20px;
    height: 590px;
    width: 36%;
    box-shadow: #000000 20px 20px 50px;
    border-radius:0px 30px 30px 0px;
}

.resposta{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.pergunta{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;

    font-size: 20px;
}

.fixo{
    display: flex;
    justify-content: space-evenly;
}

.botaoE{
    margin-left: 60px;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(90, 201, 63);
    color: white;
}

.botaoP{
    margin-left: 60px;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(36, 156, 255);
    color: white;
}

.botaoV{
    margin-left: 60px;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(238, 77, 77);
    color: white;
}

.opcoes{
    background-color: rgba(0, 0, 0, 0.552);
    margin-top: 30px;
}

.opcoes p{
    color:white;
    font-size: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.nomes{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.listinha{
    margin-left: 90px;
    margin-right: 90px;
}

.listinha p{
    color: white;
    font-size: 15px;
}

.espaco{
    height: 30px;
}

.espaco2{
    height: 200px;
}



/* cores */

.fundo_cinza{
    background-color: rgb(85, 85, 85);
}
.fundo_zeus{
    background-color: #5271ff;
}
.fundo_poseidon{
    background-color: #004aad;
}
.fundo_hades{
    background-color: #022655;
}
.fundo_apolo{
    background-color: #ffde59;
}
.fundo_hermes{
    background-color: #5ce1e6;
}
.fundo_ares{
    background-color: #eb3636;
}
.fundo_afrodite{
    background-color: #ff66c4;
}
.fundo_dionisio{
    background-color: #cb6ce6;
}
.fundo_hefesto{
    background-color: #ff914d;
}
.fundo_atena{
    background-color: #0cc0df;
}
.fundo_iris{
    background-color: #ff66c4;
}
.fundo_hipinos{
    background-color: #004aad;
}
.fundo_nemesis{
    background-color: #eb3636;
}
.fundo_hebe{
    background-color: #ffbd59;
}
.fundo_tique{
    background-color: #00bf63;
}
.fundo_hecate{
    background-color: #cb6ce6;
}
.fundo_eolo{
    background-color: #5ce1e6;
}
.fundo_eros{
    background-color: #ff66c4;
}


@media (max-width: 1030px){
    
    .cabecalho{
        height: 60px;
    } 
    
    h1{
        font-size: 30px;
        margin-left: 15px;
    }
    
    .aviso{
        margin-left: 25px;
        border-radius:15px;
        
        height: 280px;
        width: 870px;
    }
    
    .avisao{
        font-size: 25px;

        margin-left: 25px;
        margin-bottom: 5px;
    }
    
    .textin{
        font-size: 16px;

        margin-left: 25px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    
    .junta_tudo{
        display: flex;
    }
    
    .quadro{
        margin-top: 20px;
        margin-left: 25px;
        
        height: 500px;
        width: 490px;
        border-radius:15px 0px 0px 15px;
    }
    
    .quadro_colorido{
        display: flex;
        text-align: justify;

        margin-top: 20px;
        margin-left: 0px;

        height: 500px;
        width: 380px;
        border-radius:0px 15px 15px 0px;
    }
    
    .resposta{
        font-size: 30px;
        text-align: center;

        margin-left: 15px;
        margin-right: 15px;
    }
    
    .pergunta{
        margin-top: 15px;

        margin-left: 13px;
        margin-right: 10px;
    
        font-size: 17px;
    }
    
    .botaoE{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoP{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoV{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .opcoes p{
        font-size: 20px;
    
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .listinha{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .listinha p{
        font-size: 17px;
    }
    
    .espaco{
        height: 30px;
    }
    
    .espaco2{
        height: 120px;
    }

}

@media (max-width: 770px){

    .fundo{
        background-image: url(../img/fundo_quiz.png);
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: bottom center;
        width: 100%;
        height: 800px;
        position: relative;
        background-attachment: fixed;
    }
    
    .cabecalho{
        height: 50px;
    }
    
    h1{
        font-size: 18px;
        color: white;
        margin-left: 10px;
    }
    
    .aviso{
        margin-left: 15px;
        border-radius:15px;
        
        height: 390px;
        width: 250px;
    }
    
    .avisao{
        font-size: 18px;

        margin-left: 15px;
        margin-bottom: 5px;
    }
    
    .textin{
        font-size: 13px;

        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    
    .junta_tudo{
        display: block;
    }
    
    .quadro{
        margin-top: 20px;
        margin-left: 15px;
        
        height: 420px;
        width: 250px;
        border-radius:15px 15px 0px 0px;
    }
    
    .quadro_colorido{
        display: block;
        text-align: justify;

        margin-top: -2px;
        margin-left: 15px;
        height: 100px;
        width: 250px;
        border-radius:0px 0px 15px 15px;
    }
    
    .resposta{
        color: white;
        font-size: 30px;
        text-align: center;

        margin-left: 15px;
        margin-right: 15px;
    }
    
    .pergunta{
        margin-top: 15px;
        margin-left: 7px;
        margin-right: 10px;
    
        font-size: 10px;
    }
    
    .botaoE{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoP{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoV{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .opcoes p{
        color:white;
        font-size: 15px;
    
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .listinha{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .listinha p{
        font-size: 10px;
    }
    
    .espaco{
        height: 30px;
    }
    
    .espaco2{
        height: 120px;
    }

}

@media (max-width: 430px){

    .fundo{
        background-image: url(../img/fundo_quiz.png);
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: bottom center;
        width: 100%;
        height: 800px;
        position: relative;
        background-attachment: fixed;
    }
    
    .cabecalho{
        height: 50px;
    }
    
    h1{
        font-size: 20px;
        color: white;
        margin-left: 10px;
    }
    
    .aviso{
        margin-left: 6%;
        border-radius:15px;
        
        height: 420px;
        width: 85%;
    }
    
    .avisao{
        font-size: 18px;

        margin-left: 15px;
        margin-bottom: 5px;
    }
    
    .textin{
        font-size: 13px;

        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    
    .junta_tudo{
        display: block;
    }
    
    .quadro{
        margin-top: 20px;
        margin-left: 6%;
        
        height: 420px;
        width: 85%;
        border-radius:15px 15px 0px 0px;
    }
    
    .quadro_colorido{
        display: block;
        text-align: justify;

        margin-top: -2px;
        margin-left: 6%;
        height: 100px;
        width: 85%;
        border-radius:0px 0px 15px 15px;
    }
    
    .resposta{
        color: white;
        font-size: 30px;
        text-align: center;

        margin-left: 15px;
        margin-right: 15px;
    }
    
    .pergunta{
        margin-top: 15px;
        margin-left: 7px;
        margin-right: 10px;
    
        font-size: 13px;
    }
    
    .botaoE{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoP{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .botaoV{
        margin-left: 0px;
        border-radius: 7px;
        height: 25px;
        width: 70px;
    }
    
    .opcoes p{
        color:white;
        font-size: 15px;
    
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nomes{
        display: block;
        align-items: center;
        justify-content: center;
        
    }
    
    .listinha{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .listinha p{
        font-size: 10px;
    }
    
    .espaco{
        height: 30px;
    }
    
    .espaco2{
        height: 120px;
    }

}

